/* FONTS */

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@font-face {
  font-family: CalibreMedium;
  src: url('../fonts/Calibre/CalibreMedium.otf');
}

@font-face {
  font-family: Calibre;
  src: url('../fonts/Calibre/CalibreRegular.otf');
}

@font-face {
  font-family: SF-Medium;
  src: url('../fonts/SF/SFMono-Medium.otf');
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibre, sans-serif;
  background: #0a192e;
  color: rgba(230, 241, 255, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgba(230, 241, 255, 0.49);
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.fas:hover,
.fab:hover {
  color: #64ffda;
}

@media only screen and (min-width: 800px) {
  .main-container {
    width: 80%;
  }
}

.dummy-header {
  display: none;
  /* content: ''
  position: fixed; */
  top: 0;
  left: 0;
  height: 30vh;
}

/* MOBILE ELEMENTS */

.hide-mobile {
  display: none;
}

/* HEADER BAR */

header {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  background: #0a192e;
  z-index: 100;
}

.header-shadow {
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.16);
}

.nav-up {
  top: -50px;
}

header div {
  margin: 0 auto;
  padding: 1.4em 0 0.9em 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-top: 0em;
  cursor: pointer;
}

header h1 {
  font-family: CalibreMedium, sans-serif;
  font-size: 1.25em;
}

header nav ul {
  list-style: none;
}

header nav ul {
  text-align: center;
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  background: rgba(10, 25, 46, 0.9);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

header nav ul li {
  display: block;
  width: 100%;
  padding: 1em 0;
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -2.5em;
  text-align: right;
  margin-left: -1.75em;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}

#whitespace {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  flex-grow: 1;
  height: 100%;
  width: 50%;
}

#resume-button {
  background: #64ffda;
  color: #0a192e;
  border-radius: 400px;
  padding: 0.4em 0.4em 0.15em 0.4em;
}

@media only screen and (min-width: 800px) {
  header nav ul {
    width: 30%;
  }
  #whitespace {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-desktop {
    display: none;
  }

  #whitespace {
    display: none;
  }

  #nav {
    display: flex;
    height: auto;
    margin: 0;
    margin-top: 0.3em;
    padding: 0;
  }

  header nav ul {
    font-family: SF-Medium;
    font-size: 0.75em;
    height: auto;
    background: none;
    position: relative;
  }

  header nav ul li {
    margin-left: 3em;
    display: block;
    width: 100%;
    padding: 0;
  }

  #resume-button {
    padding: 0.2em 0.6em 0.15em 0.6em;
  }

  .scroll {
    width: 30px;
    animation: move 2s infinite alternate;
  }

  @keyframes move {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(20px);
    }
  }
}
/* MAIN */

/* HERO */

.hero {
  margin: 12.375em 0;
}

.hero ul {
  list-style: none;
}

.cta-container {
  text-align: center;
}

.cta {
  display: block;
  background: #64ffda;
  color: #0a192e;
  border-radius: 400px;
  margin-top: 2em;
  width: 9.375em;
  font-size: 1.2em;
  padding: 0.4em 0 0.1em 0;
}

.hero h1 {
  font-size: 2.5em;
  font-family: CalibreMedium;
}

.hero ul {
  margin: 1.375em auto;
  font-family: Calibre;
  font-size: 0.688em;
  font-size: 0.7em;
  color: rgba(230, 241, 255, 0.49);
  display: flex;
}

.hero ul li {
  margin-right: 1.25em;
}

.hero p {
  font-size: 1.125em;
  color: rgba(230, 241, 255, 0.49);
  width: 80%;
}

@media only screen and (min-width: 800px) {
  .hero h1 {
    font-size: 4.5em;
  }

  .hero ul {
    margin-top: -1em;
    margin-left: 0.2em;
    font-size: 1em;
  }

  .hero p {
    margin-left: 0.2em;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1240px) {
  .hero {
    margin-top: 17.4em;
  }
  .hero h1 {
    font-size: 7.5em;
  }

  .hero ul {
    font-size: 1em;
  }

  .hero p {
    font-size: 1.5em;
  }
}

/* SCROLL ICON */

.scroll-container {
  margin-top: 6.5em;
  text-align: center;
}

.scroll {
  width: 1em;
  animation: move 2s infinite alternate;
}

@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

/* ABOUT */

.about {
  margin-bottom: 10.5em;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.about p {
  width: 90%;
  margin-top: 0;
  margin-bottom: 2.5em;
}

.about h2 {
  text-align: center;
  margin: 1.2em 0 0 0;
  padding: 0;
  font-size: 1.1em;
}

.about h3 {
  font-size: 1em;
}

.svg-icons {
  width: 2em;
  height: 2em;
  margin: 0em 0.6em 0em 0.6em;
  vertical-align: -0.2em;
}

.skills {
  margin-top: 2em;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  align-items: center;
}

.skills .skill {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.skills .skill i {
  font-size: 2em;
  margin: 0.3em;
  line-height: 1.5em;
}

.category {
  display: block;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  left: 0;

  display: block;
  background: #64ffda;
  color: #0a192e;
  border-radius: 400px;
  width: 6.5em;
  font-size: 1.2em;
  padding: 0.4em 0 0.1em 0;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .about h1 {
    font-size: 3.25em;
  }

  .about h2 {
    font-size: 1.5em;
    text-align: left;
  }
  .about p {
    font-size: 1.3em;
    width: 70%;
  }
  .skills {
    width: 60%;
    margin: 0;
  }
}
/* EXPERIENCE */

.experience {
  margin-bottom: 10.5em;
}

.experience h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.job-selector {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.job-selector i {
  margin-top: 0.5em;
  position: relative;
  left: 0;
}

.jobs {
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  text-align: center;
  margin-bottom: 2.5em;
}

.jobs .job-title {
  background: rgba(53, 68, 90, 0.2);
  color: rgba(230, 241, 255, 0.7);
  border-radius: 400px;
  width: 10em;
  min-width: 10em;
  font-size: 1.2em;
  padding: 0.4em 0 0.1em 0;
  text-align: center;
  cursor: pointer;
  margin-right: 0.5em;
}

.jobs .job-title-selected {
  background: #64ffda;
  color: #0a192e;
  border-radius: 400px;
  width: 10em;
  min-width: 10em;
  font-size: 1.2em;
  padding: 0.4em 0 0.1em 0;
  text-align: center;
  cursor: pointer;
}

.job-display {
  text-align: center;
  background: rgba(53, 68, 90, 0.2);
  border-radius: 23px;
  padding: 0em;
  color: rgba(230, 241, 255, 1);
  height: 15em;
}

.job-display #company {
  padding-top: 0.5em;
  color: rgba(230, 241, 255, 1);
}

.job-display #title,
.job-display #location,
.job-display #date {
  color: rgba(230, 241, 255, 0.49);
}

.job-display #date {
  font-size: 0.9em;
}

.job-display #location {
  font-size: 0.9em;
}

.job-display #description {
  width: 90%;
  margin-top: 1em;
  color: rgba(230, 241, 255, 1);
  margin: 1em auto 0em;
  overflow: auto;
  height: 7em;
}

@media only screen and (min-width: 650px) {
  .experience-container-desktop {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin-top: 9em;
  }

  .job-selector {
    width: unset;
  }

  .jobs {
    flex-direction: column;
    border-radius: 23px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: #0a192e 2px solid;
    background: rgba(53, 68, 90, 0.2);
    height: 15em;
    margin-bottom: 0;
  }
  .jobs .job-title {
    background: none;
    margin-bottom: 0.3em;
    color: rgba(230, 241, 255, 0.7);
    border-radius: 0px;
    width: auto;
    min-width: 10em;
    font-size: 1.2em;
    padding: 0.4em 0 0.1em 0;
    text-align: center;
    cursor: pointer;
  }

  /* .job-selector {
    justify-content: start;
  } */

  .jobs .job-title-selected {
    background: #64ffda;
    color: #0a192e;
    width: auto;
    min-width: 10em;
    font-size: 1.2em;
    padding: 0.4em 0 0.1em 0;
    text-align: center;
    cursor: pointer;
    margin-right: 0;
  }
  .job-display {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 1;
  }

  .job-display #company {
    padding-top: 1.25em;
  }

  .job-display #description {
    max-height: 6em;
    overflow: scroll;
  }
}

@media only screen and (min-width: 1200px) {
  .experience-container-desktop {
    width: 70%;
    margin: 0 auto;
    margin-top: 9em;
  }
}

/* PROJECTS */

.projects h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

#projects-container {
  display: flex;
  flex-direction: column;
}

.project {
  text-align: center;
  margin-bottom: 2em;
}

.project-image {
  width: 40%;
  height: 8em;
}

.project-description .project-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.project-footer {
  margin-top: 0.4em;
  display: flex;
  justify-content: space-between;
}

.project-footer .tech i {
  margin-right: 0.2em;
}

.project-footer .links {
  display: flex;
  justify-content: space-between;
}

.project-footer .links a {
  margin-left: 0.5em;
  color: #64ffda;
}

@media only screen and (min-width: 480px) {
  .project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .project:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1em;
    justify-content: space-between;
    margin-bottom: 3em;
  }

  .project {
    margin-bottom: 3em;
  }

  .projects h1 {
    padding-top: 0.3em;
    margin-bottom: 2em;
  }

  .project a {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project .project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
  }

  .project-image {
    width: 100%;
  }

  .project-description {
    background: rgba(53, 68, 90, 0.2);
    border-radius: 23px;
    height: 10em;
  }

  .project-footer {
    padding-bottom: 0.3em;
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 800px) {
  #projects-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1400px) {
  #projects-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* CONTACT */

.contact {
  margin-top: 10em;
}

.contact h1 {
  font-size: 2em;
  margin-bottom: 1.3em;
}

.contact .contact-options {
  text-align: center;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}

.contact .contact-options li {
  font-size: 1.45em;
  cursor: pointer;
}

.contact .contact-options li:hover {
  color: #64ffda;
}

.contact .sign {
  text-align: center;
  margin-top: 1.6em;
  margin-bottom: 30vh;
}

@media only screen and (min-width: 500px) {
  .contact .contact-options {
    justify-content: center;
  }

  .contact .contact-options li {
    margin-right: 1em;
  }

  .contact .contact-options li:last-child {
    margin-right: 0em;
  }
}
