/* FONTS */
@font-face {
  font-family: CalibreMedium;
  src: url("../fonts/Calibre/CalibreMedium.otf");
}

@font-face {
  font-family: Calibre;
  src: url("../fonts/Calibre/CalibreRegular.otf");
}

@font-face {
  font-family: SF-Medium;
  src: url("../fonts/SF/SFMono-Medium.otf");
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibre, sans-serif;
  background: #0a192e;
  color: rgba(230, 241, 255, 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgba(230, 241, 255, 49%);
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

/* MOBILE ELEMENTS */

.hide-mobile {
  display: none;
}

/* HEADER BAR */

header {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  background: #0a192e;
}

.header-shadow {
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 16%);
}

.nav-up {
  top: -50px;
}

header div {
  margin: 0 auto;
  padding: 1.4em 0 0.9em 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-top: 0em;
  cursor: pointer;
}

header h1 {
  font-family: CalibreMedium, sans-serif;
  font-size: 1.25em;
}

header nav ul {
  list-style: none;
}

header nav ul {
  text-align: center;
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  background: rgba(10, 25, 46, 90%);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

header nav ul li {
  display: block;
  width: 100%;
  padding: 1em 0;
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -2.5em;
  text-align: right;
  margin-left: -1.75em;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}

#whitespace {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  flex-grow: 1;
  height: 100%;
  width: 50%;
}

#resume-button {
  background: #64ffda;
  color: #0a192e;
  border-radius: 400px;
  padding: 0.4em 0.4em 0.15em 0.4em;
}

/* MAIN */

/* HERO */

.hero {
  margin: 12.375em 0;
}

.hero ul {
  list-style: none;
}

.cta-container {
  text-align: center;
}

.cta {
  display: block;
  background: #64ffda;
  color: #0a192e;
  border-radius: 400px;
  margin-top: 2em;
  width: 9.375em;
  font-size: 1.2em;
  padding: 0.4em 0 0.1em 0;
}

.hero h1 {
  font-size: 2.5em;
  font-family: CalibreMedium;
}

.hero ul {
  margin: 1.375em auto;
  font-family: Calibre;
  font-size: 0.688em;
  font-size: 0.7em;
  color: rgba(230, 241, 255, 49%);
  display: flex;
}

.hero ul li {
  margin-right: 1.25em;
}

.hero p {
  font-size: 1.125em;
  color: rgba(230, 241, 255, 49%);
  width: 80%;
}

/* SCROLL ICON */

.scroll-container {
  margin-top: 6.5em;
  text-align: center;
}

.scroll {
  width: 1em;
  animation: move 2s infinite alternate;
}

@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

/* ABOUT */

.about {
  margin-bottom: 15em;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.about p {
  width: 90%;
  margin-top: 0;
  margin-bottom: 1em;
}

.about h2 {
  text-align: center;
  margin: 1.2em 0 0 0;
  padding: 0;
  font-size: 1.1em;
}

.about h3 {
  font-size: 1em;
}

.svg-icons {
  width: 2em;
  height: 2em;
  margin: 0em 0.6em 0em 0.6em;
  vertical-align: -0.2em;
}

.skills {
  display: flex;
  overflow-x: auto;
  align-items: center;
}

.skills .skill {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.skills .skill i {
  font-size: 2em;
  margin: 0.3em;
  line-height: 1.5em;
}

.category {
  display: block;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  left: 0;

  display: block;
  background: #64ffda;
  color: #0a192e;
  border-radius: 400px;
  width: 6.5em;
  font-size: 1.2em;
  padding: 0.4em 0 0.1em 0;
  text-align: center;
}
